:root {
    --white: #f9f9f9;
    --pink: rgb(167, 63, 153);
    --black: #000;
    --blue: #2980b9;
    --bgPopUp: rgba(0, 0, 0, 0.849);
}

body {
    background-color: var(--pink);
    color: var(--white);
}

.top { text-align: center; margin: 20px 0; }
.top h1 { font-weight: 400; letter-spacing: 0.1em; }
.top h4 { font-weight: 200; letter-spacing: 0.1em; }

.game-area {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.hangman {
    fill: transparent;
    stroke: var(--white);
    stroke-width: 3px;
    stroke-linecap: round;
}

.body-parts { display: none; }

.secret-word { font-size: 40px; }
.secret-word span { margin: 0 5px; }

.wrong-letters { margin-top: 20px; font-size: 35px;}
.wrong-letters h4 { margin: 0; font-weight: 400; }
.wrong-letters span { margin: 2px 2px; font-size: 30px;}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category { margin: 20px 0;}
.category h2 { font-weight: 400; }

.field {max-width: 450px;}

.repeated-letter h4 { font-weight: 400; margin: 20px 0; }

.popup-container {
    background-color: var(--bgPopUp);
    position: fixed; 
    top: 0; bottom: 0; left: 0; right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: var(--blue);
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 4px;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
}

@media (min-width: 1200px) { html { zoom: 1.2 } }

@media (min-width: 1900px) { html { zoom: 1.4 } }

@media (max-width: 800px){ .game-area { flex-direction: column; gap: 15px; } }

@media (max-width: 400px){ .secret-word { font-size: 30px; } }